/* General Reset */
body {
  margin: 0;
  padding: 0;
}
body * {
  font-family: Arial, Helvetica, sans-serif;
}

/* Base styles for layout */
.wd-main-content-offset {
  position: relative;
  padding: 1rem;
  transition: padding-left 0.3s;
}

/* Responsive Layout */
@media (min-width: 768px) {
  #wd-kanbas .wd-main-content-offset {
    margin-left: 85px !important;
    padding-left: 55px !important;
  }
}

/* Navigation styles */
#wd-kanbas nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 1000;
  width: 85px;
}

.list-group-item.active-link {
  color: black;
  background-color: white;
  border-left: 3px solid black !important;
  font-weight: bold;
}

/* Button Styles */
.btn-secondary {
  --bs-btn-color: #000 !important;
  --bs-btn-bg: #c7cdd1 !important;
  --bs-btn-border-color: #c7cdd1 !important;
  --bs-btn-hover-color: #fff !important;
}

/* Background Styles */
.bg-secondary {
  --bs-secondary-rgb: 199, 205, 209;
}

/* List Group Item Borders */
.list-group-item {
  --bs-list-group-border-color: gray;
}

/* Lesson Borders */
.wd-lesson {
  border-left: 5px solid green !important;
}

/* Disable Pointer Events */
.position-absolute {
  pointer-events: none;
}
